<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div class="container text-center bg-dark">
    <div class="row mx-auto">
{% for h in hin %}
<div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
  <img src="{{h.h_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{h.h_name}}</h5>
    <p class="card-text">{{h.h_director}}<br>{{h.h_year}}</p>
   <a href="http://127.0.0.1:8000/watch/" class="btn btn-danger">Watch now</a>
      <a href="http://127.0.0.1:8000/save/" class="btn btn-success">Save for later</a>
  </div>
</div>
{% endfor %}
        </div>
</div>
</body>
</html>